.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  &--home {
    background-size: cover;
    background-position: center center;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
  }
  &--about {
    background-color: yellowgreen;
  }
  &--contact {
    background-color: blue;
  }
  &--projects {
    background-color: green;
  }
}
