.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
  margin-top: 50px;
  margin-bottom: -5px;
  background-size: cover;
  background-position: center center;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
  & .canvas {
    width: 100%;
    position: absolute;
  }
  &--home {
    // background-size: cover;
    // background-position: center center;
    // background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
    // & .canvas {
    //   width: 100%;
    //   position: absolute;
    // }
  }
  &--about {
    // background-color: yellowgreen;
  }
  &--contact {
    // background-color: blue;
  }
  &--projects {
    // background-color: green;
  }
}
.content__row {
  width: 100%;
  z-index: 1;
  margin-left: 5%;
  margin-right: 5%;
  &--home-my-name {
    top: 35%;
    color: #fefefe;
    position: absolute;
    justify-content: left;
    margin-left: 0;
    margin-right: 0;
  }
  &--skills {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
  }
  &--form {
    margin-left: 10%;
    margin-right: 10%;
  }
  &--last {
    margin-bottom: 20px;
  }
}
.content__row__text {
  margin-top: 5px;
  text-align: justify;
  color: #fefefe;
  font-family: "Inter";
  font-size: 16px;
  z-index: 1;
  background-color: rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 5px 5px rgba(51, 51, 51, 0.5);
  &--contact {
    text-align: left;
    font-size: 14px;
    margin: 10px 0 10px 10%;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    & a {
      color: #fefefe;
      text-decoration: none;
    }
  }
}
.tile {
  margin: 5px;
  background-color: rgba(254, 254, 254, 0.7);
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 25%;
  text-align: center;
  z-index: 1;
  width: 70px;
  height: 70px;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
  }
  &__icon {
    opacity: 1;
    width: 100% !important;
    height: 100% !important;
    padding: 5px;
    box-sizing: border-box;
  }
}
@keyframes shake {
  0% {
    transform: skewX(10deg);
  }
  20% {
    transform: skewX(-8deg);
  }
  40% {
    transform: skewX(6deg);
  }
  60% {
    transform: skewX(-4deg);
  }
  80% {
    transform: skewX(2deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
