.header__droplist-enter {
  transform: scaleY(0);
  transform-origin: top;
  width: 100%;
}
.header__droplist-enter-active {
  transform: scaleY(1);
  transition: all 700ms;
}
.header__droplist-enter-done {
  width: 100%;
}
.header__droplist-exit {
  transform: scaleY(1);
  transform-origin: top;
  width: 100%;
}
.header__droplist-exit-active {
  transform: scaleY(0);
  transition: all 700ms;
}
.project-section-toggle-enter {
  transform: scaleY(0);
  transform-origin: top;
  width: 100%;
}
.project-section-toggle-enter-active {
  transform: scaleY(1);
  transition: all 400ms;
}
.project-section-toggle-enter-done {
  width: 100%;
}
.project-section-toggle-exit {
  transform: scaleY(1);
  transform-origin: top;
  width: 100%;
}
.project-section-toggle-exit-active {
  transform: scaleY(0);
  transition: all 400ms;
}
.content__transition {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.content__transition-appear {
  opacity: 0;
}
.content__transition-appear-done {
  opacity: 1;
  transition: all 700ms linear;
}
