.footer {
  box-shadow: 0 0 5px 3px #333;
  background-color: #333;
  text-align: center;
  color: #fefefe;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  position: relative;
  font-family: "Inter";
  & a {
    text-decoration: none;
    color: inherit;
  }
  &__copy {
    font-size: 0.9em;
  }
  &__icon {
    font-size: 1.2em;
  }
}
