.footer {
  box-shadow: 0 0 5px 3px #323639;
  background-color: #323639;
  text-align: center;
  color: #fefefe;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 5px 0;
  position: relative;
  font-family: "Inter";
  z-index: 1;
  @include for-size(tablet) {
    font-size: 1rem;
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
}
