.form {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  transition: all 300ms;
  font-size: 0.9rem;
  @include for-size(tablet) {
    margin: 10px 8.25%;
    font-size: 1rem;
  }
  @include for-size(laptop) {
    margin-left: 16.5%;
    margin-right: 16.5%;
  }
  @include for-size(desktop) {
    margin-left: 25%;
    margin-right: 25%;
  }
  &__input {
    background-color: #fefefe;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    border-radius: 0.5em;
    @include for-size(tablet) {
      padding: 10px;
    }
    &--area {
      min-height: 100px;
      @include for-size(tablet) {
        min-height: 150px;
      }
    }
  }
  &__button {
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 0.5em;
    font-size: 1rem;
    background-color: #333;
    border: 3px solid lighten(#333, 10%);
    font-family: monospace;
    color: #fefefe;
    transition: all 0.5s;
    @include for-size(tablet) {
      margin: 10px;
      font-size: 1.4rem;
      padding: 8px 10px;
      width: 100px;
    }
    &:hover {
      background-color: darken(#333, 5%);
      border: 3px solid lighten(#333, 20%);
    }
  }
}
