.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  font-family: "Inter", Times, serif;
}
.header__row {
  display: flex;
  width: 100%;
  box-shadow: 0 0 5px 5px #333;
}
.header__logo {
  background-color: #333;
  flex-grow: 1;
  color: #fefefe;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
  height: 30px;
  transition: all 0.2s linear;
  &:hover {
    color: white;
    font-size: 1.025em;
  }
  &__link {
    color: white;
    text-decoration: none;
  }
  &__text {
    width: fit-content;
    font-style: italic;
  }
}
.header__menu {
  background-color: #333;
  opacity: 0.9;
  width: 100%;
  box-shadow: 0 0 5px 5px #333;
  &__item {
    color: #fefefe;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    &:hover {
      opacity: 1;
      background-color: lighten(#333, 5%);
      color: white;
      transition: all 0.5s;
    }
  }
  &__button {
    cursor: pointer;
    height: 30px;
    align-items: center;
    display: flex;
    padding: 10px;
    background-color: #333;
  }
  &__icon {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
}
