.heading {
  color: #fefefe;
  font-family: inter;
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
  transition: all 300ms;
  @include for-size(tablet) {
    font-size: 2.2rem;
    margin: 30px 0;
  }
  @include for-size(laptop) {
    font-size: 2.4rem;
  }
  &--home {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    font-size: 2.4rem;
    text-align: left;
    text-shadow: 0 0 4px #fefefe;
    @include for-size(tablet) {
      margin-left: 10%;
      font-size: 2.8rem;
    }
    @include for-size(laptop) {
      margin-left: 15%;
      font-size: 3.2rem;
    }
    @include for-size(desktop) {
      margin-left: 20%;
    }
  }
  &--projects {
    margin-bottom: 10px;
  }
  &--h2 {
    margin: 15px 0;
    font-size: 1.6rem;
    @include for-size(tablet) {
      font-size: 1.8rem;
      margin: 25px 0;
    }
  }
  &--h3 {
    clear: both;
    margin: 10px 0;
    font-size: 1.5rem;
    @include for-size(tablet) {
      font-size: 1.6rem;
      margin: 10px 0;
    }
  }
}
.heading-subtext {
  color: #fefefe;
  font-family: inter;
  font-size: 1.2rem;
  margin: 5px 0 5px 40px;
  width: 100%;
  transition: all 300ms;
  text-shadow: 0 0 4px #fefefe;
  @include for-size(tablet) {
    margin-left: 10%;
    font-size: 1.4rem;
  }
  @include for-size(laptop) {
    margin-left: 15%;
    font-size: 1.6rem;
  }
  @include for-size(desktop) {
    margin-left: 20%;
  }
}
