.heading {
  color: #fefefe;
  font-family: monospace;
  font-size: 2.2em;
  margin: 20px 0;
  text-align: center;
  &--home {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    font-size: 2.7em;
    text-align: left;
  }
  &--projects {
    margin-bottom: 10px;
  }
  &--h2 {
    margin: 10px 0;
    font-size: 2em;
  }
}
.heading-subtext {
  color: #fefefe;
  font-family: monospace;
  font-size: 1.2em;
  margin: 5px 0 5px 40px;
  width: 100%;
}
