.header {
  height: 60px;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 2;
  font-family: "Inter", Times, serif;
}
.header__row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.header__droplist {
  width: 100%;
  align-items: center;
  display: flex;
  &--visible {
    transform-origin: top;
    transform: scaleY(1);
    transition: all 700ms;
  }
  &--hidden {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 700ms;
    @include for-size(phone) {
      transition: transform 0ms;
    }
  }
  @include for-size(tablet) {
    transform: none;
    width: auto;
    padding-right: 20px;
    box-shadow: 0 0 5px 5px #323639;
    background-color: #323639;
    transition: transform 0ms;
    padding-right: 5%;
  }
  @include for-size(desktop) {
    padding-right: 10%;
  }
}

.header__logo {
  align-items: center;
  display: flex;
  background-color: #323639;
  flex-grow: 1;
  color: #fefefe;
  padding-left: 15px;
  text-decoration: none;
  height: 60px;
  font-size: 1rem;
  transition: all 0.2s linear;
  box-shadow: 0 0 5px 5px #323639;
  @include for-size(tablet) {
    padding-left: 5%;
    font-size: 1.2rem;
  }
  @include for-size(desktop) {
    padding-left: 10%;
  }
  &:hover {
    color: white;
  }
  &__link {
    color: white;
    text-decoration: none;
  }
  &__text {
    width: fit-content;
    font-style: italic;
  }
}
.header__menu {
  background-color: #323639;
  opacity: 0.95;
  width: 100%;
  box-shadow: 0 0 5px 5px #323639;
  @include for-size(tablet) {
    opacity: 1;
    display: flex;
  }
  &__item {
    color: #fefefe;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    border-bottom: 1px solid transparent;
    @include for-size(tablet) {
      font-size: 1.2rem;
    }
    &:hover {
      opacity: 1;
      background-color: lighten(#323639, 5%);
      color: white;
      transition: all 500ms linear;
      @include for-size(tablet) {
        background-color: inherit;
        border-bottom: 1px solid #fefefe;
      }
    }
  }
  &__button {
    cursor: pointer;
    align-items: center;
    display: flex;
    height: 60px;
    padding: 0 15px;
    background-color: #323639;
    box-shadow: 0 0 5px 5px #323639;
    @include for-size(tablet) {
      display: none;
    }
  }
  &__icon {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
}
