.header {
  height: 70px;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 2;
  font-family: "Inter", Times, serif;
  box-shadow: 0 0 5px 5px #26292b;
  @include for-size(tablet) {
    height: 90px;
  }
}
.header__row {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.header__droplist {
  width: 100%;
  align-items: center;
  display: flex;
  &--visible {
    transform-origin: top;
    transform: scaleY(1);
    transition: all 700ms;
  }
  &--hidden {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 700ms;
    @include for-size(phone) {
      transition: transform 0ms;
    }
  }
  @include for-size(tablet) {
    transform: none;
    width: auto;
    padding-right: 20px;
    box-shadow: 0 0 5px 5px #26292b;
    background-color: #26292b;
    transition: transform 0ms;
    padding-right: 5%;
  }
  @include for-size(desktop) {
    padding-right: 10%;
  }
}

.header__logo {
  background-color: #26292b;
  align-items: center;
  display: flex;
  flex-grow: 1;
  color: #fefefe;
  padding-left: 15px;
  text-decoration: none;
  transition: all 0.2s linear;
  @include for-size(tablet) {
    padding-left: 5%;
  }
  @include for-size(desktop) {
    padding-left: 10%;
  }
  &:hover {
    color: #fefefe;
  }
  &__link {
    cursor: pointer;
    color: #fefefe;
    text-decoration: none;
    transition: color 500ms linear;
    &:hover {
      color: darken(#fefefe, 15%);
      transition: color 500ms linear;
    }
  }
  &__text {
    font-size: 1.4rem;
    font-family: Alegreya;
    font-style: italic;
    @include for-size(tablet) {
      font-size: 1.9rem;
    }
    &:hover {
      animation: shake 0.7s cubic-bezier(0.36, 0.57, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
      transition: all 500ms linear;
    }
  }
}
@keyframes shake {
  0% {
    transform: skewX(10deg);
  }
  20% {
    transform: skewX(-8deg);
  }
  40% {
    transform: skewX(6deg);
  }
  60% {
    transform: skewX(-4deg);
  }
  80% {
    transform: skewX(2deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
.header__menu {
  background-color: #26292b;
  opacity: 0.95;
  width: 100%;
  box-shadow: 0 0 5px 5px #26292b;
  @include for-size(tablet) {
    opacity: 1;
    display: flex;
  }
  &__item {
    color: #fefefe;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    border-bottom: 1px solid transparent;
    @include for-size(tablet) {
      font-size: 1.6rem;
    }
    &--active {
      color: darken(#fefefe, 15%);
      border-bottom: 1px solid #fefefe;
    }
    &:hover {
      opacity: 1;
      background-color: lighten(#26292b, 5%);
      color: white;
      transition: all 500ms linear;
      @include for-size(tablet) {
        background-color: inherit;
        color: darken(#fefefe, 15%);
        border-bottom: 1px solid #fefefe;
      }
    }
  }
  &__button {
    cursor: pointer;
    align-items: center;
    display: flex;
    height: 60px;
    padding-right: 20px;
    background-color: #26292b;
    box-shadow: 0 0 5px 5px #26292b;
    @include for-size(tablet) {
      display: none;
    }
  }
  &__icon {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
}
