.header {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.header__row {
  display: flex;
  width: 100%;
  box-shadow: 0 0 5px 5px #333;
  margin-bottom: 5px;
}
.header__logo {
  background-color: #333;
  flex-grow: 1;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  height: 30px;
  & a {
    color: white;
    text-decoration: none;
  }
}
.header__droplist-enter {
  transform: scaleY(0);
  transform-origin: top;
  width: 100%;
}
.header__droplist-enter-active {
  transform: scaleY(1);
  transition: all 700ms;
}
.header__droplist-enter-done {
  width: 100%;
}
.header__droplist-exit {
  transform: scaleY(1);
  transform-origin: top;
  width: 100%;
}
.header__droplist-exit-active {
  transform: scaleY(0);
  transition: all 700ms;
}
.header__menu {
  background-color: #333;
  opacity: 0.9;
  width: 100%;
  margin-bottom: 5px;
  box-shadow: 0 0 5px 5px #333;
  &__item {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  &__button {
    height: 30px;
    align-items: center;
    display: flex;
    padding: 10px;
    background-color: #333;
  }
  &__icon {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
}
