.typing-script {
  font-family: monospace;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: #fefefe;
  text-align: left;
  box-sizing: border-box;
  padding: 25px 15px;
  width: 100%;
  @include for-size(tablet) {
    font-size: 30px;
  }
  @include for-size(laptop) {
    font-size: 40px;
    padding: 60px 5%;
  }
  &__text {
    margin: 0;
    line-height: 150%;
    text-shadow: 0 0 5px #12b8cf;
    &::before {
      content: "> ";
    }
    &:nth-last-of-type(1)::after {
      content: "_";
      animation: cursor 0.3s infinite alternate;
    }
  }
}

@keyframes cursor {
  0%,
  30% {
    opacity: 0;
  }
  70%,
  100% {
    opacity: 1;
  }
}
